@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.swal2-modal > .swal2-html-container {
  color: rgb(209 213 219);
}

.swal2-modal, .swal2-validation-message {
  background-color: rgb(55 65 81);
}

.swal2-validation-message {
  color: rgb(209 213 219);
  font-size: 15px;
}

div:where(.swal2-container) h2:where(.swal2-title) {
  color: white;
}

[type=checkbox] {
  appearance: none;
}

[type=checkbox]:checked {
  background-color: #1c64f2;
  background-image: url(data:image/svg+xml;charset=utf-8,<svg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'><path d='M12.207 4.793a1 1 0 0 1 0 1.414l-5 5a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L6.5 9.086l4.293-4.293a1 1 0 0 1 1.414 0z'/></svg>);
}

.font-hans {
  font-family: 'Nanum Gothic', sans-serif;
}

.focus\:ring-rose-750:focus {
  --tw-ring-color: rgb(233 95 128);
}