/* 수직 스크롤바 스타일 */
.scroll-container::-webkit-scrollbar {
  width: 0.357rem;
}

/* 수직 스크롤바 트랙 스타일 */
.scroll-container::-webkit-scrollbar-track {
  background-color: transparent;
  margin-bottom: 5px;
  border-radius: 0.75rem;
}

/* 수직 스크롤바 핸들 스타일 */
.scroll-container::-webkit-scrollbar-thumb {
  background-color: #64748b80;
  border-radius: 0.75rem;
}